@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('../public/fonts/Inter-Thin.woff2?v=3.19') format('woff2'),
        url('../public/fonts/Inter-Thin.woff?v=3.19') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
        url('../public/fonts/Inter-Italic.woff2?v=3.19') format('woff2'),
        url('../public/fonts/Inter-Italic.woff?v=3.19') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        url('../public/fonts/Inter-Bold.woff2?v=3.19') format('woff2'),
        url('../public/fonts/Inter-Bold.woff?v=3.19') format('woff');
}

/* -------------------------------------------------------
  Variable font.
  Usage:
  
    html { font-family: 'Inter', sans-serif; }
    @supports (font-variation-settings: normal) {
      html { font-family: 'Inter var', sans-serif; }
    }
  */
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('Inter-roman.var.woff2?v=3.19') format('woff2');
}
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('Inter-italic.var.woff2?v=3.19') format('woff2');
}

 /* Google chrome */
 @-webkit-keyframes svg-text-anim {
  40% {
     stroke-dashoffset: 0;
     fill: transparent;
   }
   60% {
     stroke-dashoffset: 0;
     fill: #000000;
   }
   100% {
     stroke-dashoffset: 0;
     fill: #000000;
   }
   
}
/* Most browsers */
@keyframes svg-text-anim {
  40% {
     stroke-dashoffset: 0;
     fill: transparent;
   }
   60% {
     stroke-dashoffset: 0;
     fill: #000000;
   }
   100% {
     stroke-dashoffset: 0;
     fill: #000000;
   }
   
}


/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 1); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* Add this at the end of your app.css file */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  background: transparent;
  padding: 0;
}

.hamburger-box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  transition: all 0.3s;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/* Animation */
.hamburger[aria-expanded="true"] .hamburger-inner {
  transform: rotate(135deg);
}

.hamburger[aria-expanded="true"] .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger[aria-expanded="true"] .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-270deg);
}

.hamburger {
  z-index: 5; /* Make sure this is higher than the overlay's z-index */
  position: relative;
}


/* Change color to white when hamburger is in 'X' state for visibility */
.hamburger[aria-expanded="true"] .hamburger-inner,
.hamburger[aria-expanded="true"] .hamburger-inner::before,
.hamburger[aria-expanded="true"] .hamburger-inner::after {
  background-color: #fff; /* Or any color that is visible on your overlay */
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap
@media screen and (max-height: 450px) {
  
} */

@screen xxs{
  .icons{
    max-width: 25%;
  }
  
  div .icons{
    margin-left: 7px;
  } 
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 18px;
    right: 19px;
  }
  .mainNav{
    display:none;
  }
}

@screen xs{
  .icons{
    max-width: 25%;
  }
  
  div .icons{
    margin-left: 7px;
  } 
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 18px;
    right: 19px;
  }
  .mainNav{
    display:none;
  }
}

@screen sm{
  .icons{
    max-width: 3%;
  }
  
  div .icons{
    margin-left: 8px;
  } 
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .mainNav{
    display:none;
  }
}

@screen md{
  .icons{
    max-width: 20%;
  }
  
  div .icons{
    margin-left: 8px;
  } 
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .mainNav{
    display:flex;
  }
  .hamburger{
    display: none;
  }
}

@screen lg{
  .icons{
    max-width: 14%;
  }
  
  div .icons{
    margin-left: 8px;
  }  
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .mainNav{
    display:flex;
  }
  .hamburger{
    display: none;
  }
}

@screen xl{
  .icons{
    max-width: 8%;
  }
  
  div .icons{
    margin-left: 8px;
  }
  .overlay a {font-size: 32px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  } 
  .mainNav{
    display:flex;
  }
  .hamburger{
    display: none;
  }
}

@screen 2xl{
  .icons{
    max-width: 8%;
  }
  
  div .icons{
    margin-left: 8px;
  } 
  .overlay a {font-size: 36px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .mainNav{
    display:flex;
  }
  .hamburger{
    display: none;
  }
}